<section class="about-me" id="about-me">
    <div class="wrapper-about-me">
      <h2 class="title-about-me visually-hidden">About us</h2>
      <div class="resume-container-about-me">
        <div class="text-container-about-me">
          <p class="resume-about-me">
            I work with people all over the world to create impressive and
            <span class="accent-red-about-me">functional</span>
            <span class="accent-grey-about-me">websites</span> that reflect each
            client's unique personality.
          </p>
        </div>
        <div class="img-tumb-about-me">
          <picture class="picture-about-me">
            <source
              srcset="
                ./img/about-me/hero-desktop@1x.webp 1x,
                ./img/about-me/hero-desktop@2x.webp 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/about-me/hero-tablet@1x.webp 1x,
                ./img/about-me/hero-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/about-me/hero-mobile@1x.webp 1x,
                ./img/about-me/hero-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./img/about-me/hero-mobile@1x.webp" alt="Jefferson image" />
          </picture>
        </div>
      </div>
  
      <!-- ===============accordeon================== -->
  
      <ul class="accordion-container-about-me">
        <li class="accordion-item-about-me ac">
          <h3 class="accordion-item-title-about-me ac-header">
            About me
            <button
              class="accordion-button-about-me ac-trigger"
              type="button"
              title="open close panel"
            >
              <svg
                class="accordion-button-icon-about-me"
                width="18"
                height="18"
                aria-label="accordion open close button icon"
              >
                <use href="./img/symbol-defs.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </h3>
          <div class="accordion-panel-about-me ac-panel">
            <ul class="list-accordion-text-about-me first-ac-panel-list ac-text">
              <li class="list-item-accordion-text-about-me">
                <p>
                  I am Lloyd Jefferson, a talented programmer with extensive
                  expertise in software development. I have an understanding of
                  different programming languages and technologies, always ready
                  to improve my skills. I always follow the latest trends and look
                  for unconventional, creative solutions to problems. I have a
                  high level of analytical skills and am able to effectively solve
                  even the most difficult tasks encountered on the way.
                </p>
              </li>
              <li class="list-item-accordion-text-about-me">
                <p>
                  Able to work both independently and in a team. I can effectively
                  cooperate with colleagues, exchanging ideas and finding optimal
                  solutions. Professional maturity allows you to calmly cope with
                  challenges and stressful situations, while maintaining a high
                  quality of work. I am always looking for opportunities for
                  self-improvement. I actively study new technologies and
                  practices to stay abreast of the latest innovations. I have a
                  strong understanding of various programming languages,
                  frameworks and architectural concepts that allow me to create
                  efficient and scalable software.
                </p>
              </li>
            </ul>
          </div>
        </li>
        <li class="accordion-item-about-me ac">
          <h3 class="accordion-item-title-about-me ac-header">
            Role
            <button
              class="accordion-button-about-me ac-trigger"
              type="button"
              title="open close panel"
            >
              <svg
                class="accordion-button-icon-about-me"
                width="18"
                height="18"
                aria-label="accordion open close button icon"
              >
                <use href="./img/symbol-defs.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </h3>
          <div class="accordion-panel-about-me ac-panel">
            <ul class="list-accordion-text-about-me">
              <li class="list-item-accordion-text-about-me">
                <p>Frontend development</p>
              </li>
              <li class="list-item-accordion-text-about-me">
                <p>HeadlessCMS,Wordpress</p>
              </li>
              <li class="list-item-accordion-text-about-me">
                <p>Blender(enjoy)</p>
              </li>
            </ul>
          </div>
        </li>
  
        <li class="accordion-item-about-me ac">
          <h3 class="accordion-item-title-about-me ac-header">
            Education
            <button
              class="accordion-button-about-me ac-trigger"
              type="button"
              title="open close panel"
            >
              <svg
                class="accordion-button-icon-about-me"
                width="18"
                height="18"
                aria-label="accordion open close button icon"
              >
                <use href="./img/symbol-defs.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </h3>
          <div class="accordion-panel-about-me ac-panel">
            <ul class="list-accordion-text-about-me">
              <li class="list-item-accordion-text-about-me">
                <p>
                  2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
                  York
                </p>
              </li>
              <li class="list-item-accordion-text-about-me">
                <p>
                  2019 - 2020 / Advanced Web Development Certificate, GoIT IT
                  School, New York
                </p>
              </li>
              <li class="list-item-accordion-text-about-me">
                <p>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
              </li>
            </ul>
          </div>
        </li>
      </ul>
  
      <!-- ===========================swiper========================= -->
      <div class="swiperc swiper-container-about-me">
        <div class="swiper swiper2">
          <!-- Slides list -->
          <ul class="swiper-wrapper swiper-wrapper-about-me">
            <li class="swiper-slide swiper-slide-about-me"><p>HTML/CSS</p></li>
            <li class="swiper-slide swiper-slide-about-me"><p>JavaScript</p></li>
            <li class="swiper-slide swiper-slide-about-me"><p>React</p></li>
            <li class="swiper-slide swiper-slide-about-me"><p>Node.js</p></li>
            <li class="swiper-slide swiper-slide-about-me">
              <p>React Native</p>
            </li>
            <li class="swiper-slide swiper-slide-about-me"><p>Sass</p></li>
            <li class="swiper-slide swiper-slide-about-me"><p>Git</p></li>
            <li class="swiper-slide swiper-slide-about-me"><p>Soft Skills</p></li>
          </ul>
        </div>
        <button class="swiper-button-next-about-me" title="next-slide">
          <svg class="right-arrow-icon-about-me" aria-label="icon to swipe right">
            <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </section>