<section class="container-covers" id="covers">
    <h2 class="title-covers">Covers</h2>
    
    <div class="content-covers">

    <ul class="list-covers marquee-inner">

        <li class="marquee">
              <picture class="marquee__line">
                   <source srcset="./img/covers/cover6@1x.webp 1x, ./img/covers/cover6@2x.webp 2x" media="(min-width:768px)" />
                   <source srcset="./img/covers/cover6-mob@1x.webp 1x, ./img/covers/cover6-mob@2x.webp 2x" media="(max-width:767px)" />
      <img src="./img/covers/cover6-mob@1x.webp" alt="Picture people" >
              </picture>
        </li>

        <li class="marquee">
              <picture class="marquee__line">
                   <source srcset="./img/covers/cover1@1x.webp 1x, ./img/covers/cover1@2x.webp 2x" media="(min-width:768px)" />
                   <source srcset="./img/covers/cover1-mob@1x.webp 1x, ./img/covers/cover1-mob@2x.webp 2x" media="(max-width:767px)" />
      <img src="./img/covers/cover1-mob@1x.webp" alt="Picture people" >
              </picture>
        </li>

        <li class="marquee">
              <picture class="marquee__line">
                <source srcset="./img/covers/cover2@1x.webp 1x, ./img/covers/cover2@2x.webp 2x" media="(min-width:768px)" />
                <source srcset="./img/covers/cover2-mob@1x.webp 1x, ./img/covers/cover2-mob@2x.webp 2x" media="(max-width:767px)" />
      <img src="./img/covers/cover2-mob@1x.webp" alt="Picture people" >
           </picture>
        </li>

        <li class="marquee">
              <picture class="marquee__line">
                   <source srcset="./img/covers/cover5@1x.webp 1x, ./img/covers/cover5@2x.webp 2x" media="(min-width:768px)" />
                   <source srcset="./img/covers/cover5-mob@1x.webp 1x, ./img/covers/cover5-mob@2x.webp 2x" media="(max-width:767px)" />
      <img src="./img/covers/cover5-mob@1x.webp" alt="Picture people" >
              </picture>
        </li>

      <li class="marquee">      
              <picture class="marquee__line">
                <source srcset="./img/covers/cover10@1x.webp 1x, ./img/covers/cover10@2x.webp 2x" media="(min-width:768px)" />
                <source srcset="./img/covers/cover10-mob@1x.webp 1x, ./img/covers/cover10-mob@2x.webp 2x" media="(max-width:767px)" />
      <img src="./img/covers/cover10-mob@1x.webp" alt="Picture people" >
              </picture>
      </li>

      <li class="marquee">        
              <picture class="marquee__line"> 
                <source srcset="./img/covers/cover3@1x.webp 1x, ./img/covers/cover3@2x.webp 2x" media="(min-width:768px)" />
                <source srcset="./img/covers/cover3-mob@1x.webp 1x, ./img/covers/cover3-mob@2x.webp 2x" media="(max-width:767px)" />
      <img src="./img/covers/cover3-mob@1x.webp" alt="Picture people" >
              </picture>
        </li>

      <li class="marquee">
              <picture class="marquee__line">
                   <source srcset="./img/covers/cover4@1x.webp 1x, ./img/covers/cover4@2x.webp 2x" media="(min-width:768px)" />
                   <source srcset="./img/covers/cover4-mob@1x.webp 1x, ./img/covers/cover4-mob@2x.webp 2x" media="(max-width:767px)" />
      <img src="./img/covers/cover4-mob@1x.webp" alt="Picture people" >
              </picture>
      </li>

      <li class="marquee">
              <picture class="marquee__line">
                <source srcset="./img/covers/cover7@1x.webp 1x, ./img/covers/cover7@2x.webp 2x" media="(min-width:768px)" />
                <source srcset="./img/covers/cover7-mob@1x.webp 1x, ./img/covers/cover7-mob@2x.webp 2x" media="(max-width:767px)" />
      <img src="./img/covers/cover7-mob@1x.webp" alt="Picture people" >
              </picture>
      </li>

      <li class="marquee">
              <picture class="marquee__line">
                <source srcset="./img/covers/cover8@1x.webp 1x, ./img/covers/cover8@2x.webp 2x" media="(min-width:768px)" />
                <source srcset="./img/covers/cover8-mob@1x.webp 1x, ./img/covers/cover8-mob@2x.webp 2x" media="(max-width:767px)" />
      <img src="./img/covers/cover8-mob@1x.webp" alt="Picture people" >
              </picture>
        </li>

      <li class="marquee">
              <picture class="marquee__line">
                   <source srcset="./img/covers/cover9@1x.webp 1x, ./img/covers/cover9@2x.webp 2x" media="(min-width:768px)" />
                   <source srcset="./img/covers/cover9-mob@1x.webp 1x, ./img/covers/cover9-mob@2x.webp 2x" media="(max-width:767px)" />
      <img src="./img/covers/cover9-mob@1x.webp" alt="Picture people" >
              </picture>
        </li>

    </ul>
   
  </div>
</section>


