<section class="faq" id="faq">
  <div class="container">
    <h2 class="faq-title">FAQ</h2>
    <ul class="faq-list accordion-container">
      <li class="faq-list-item faq-item-first ac">
        <h3 class="faq-question ac-header">
          <button class="faq-button ac-trigger" type="button">
            What programming languages are most often used in your project?
            <span class="faq-icon">
              <svg class="icon-arrow-down" aria-label="open icon">
                <use href="./img/symbol-defs.svg#icon-arrow-down"></use>
              </svg>
              <svg class="icon-arrow-up" aria-label="close icon">
                <use href="./img/symbol-defs.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="faq-item-content ac-panel">
          <p class="faq-text ac-text">
            In the field of web development, there are various technologies and
            programming languages.Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="faq-list-item faq-item-second ac">
        <h3 class="faq-question ac-header">
          <button class="faq-button ac-trigger" type="button">
            What are the deadlines for the project?
            <span class="faq-icon">
              <svg class="icon-arrow-down" aria-label="open icon">
                <use href="./img/symbol-defs.svg#icon-arrow-down"></use>
              </svg>
              <svg class="icon-arrow-up" aria-label="close icon">
                <use href="./img/symbol-defs.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="faq-item-content ac-panel">
          <p class="faq-text ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="faq-list-item faq-item-third ac">
        <h3 class="faq-question ac-header">
          <button class="faq-button ac-trigger" type="button">
            What payment methods do you accept?
            <span class="faq-icon">
              <svg class="icon-arrow-down" aria-label="open icon">
                <use href="./img/symbol-defs.svg#icon-arrow-down"></use>
              </svg>
              <svg class="icon-arrow-up" aria-label="close icon">
                <use href="./img/symbol-defs.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="faq-item-content ac-panel">
          <p class="faq-text ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>

      <li class="faq-list-item faq-item-fourth ac">
        <h3 class="faq-question ac-header">
          <button class="faq-button ac-trigger" type="button">
            How can I contact you?
            <span class="faq-icon">
              <svg class="icon-arrow-down" aria-label="open icon">
                <use href="./img/symbol-defs.svg#icon-arrow-down"></use>
              </svg>
              <svg class="icon-arrow-up" aria-label="close icon">
                <use href="./img/symbol-defs.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="faq-item-content ac-panel">
          <p class="faq-text ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="faq-list-item faq-item-fifth ac">
        <h3 class="faq-question ac-header">
          <button class="faq-button ac-trigger" type="button">
            Do you provide advice or support?
            <span class="faq-icon">
              <svg class="icon-arrow-down" aria-label="open icon">
                <use href="./img/symbol-defs.svg#icon-arrow-down"></use>
              </svg>
              <svg class="icon-arrow-up" aria-label="close icon">
                <use href="./img/symbol-defs.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="faq-item-content ac-panel">
          <p class="faq-text ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="faq-list-item faq-item-sixth ac">
        <h3 class="faq-question ac-header">
          <button class="faq-button ac-trigger" type="button">
            What does the process of developing a software product look like
            from idea to implementation?
            <span class="faq-icon">
              <svg class="icon-arrow-down" aria-label="open icon">
                <use href="./img/symbol-defs.svg#icon-arrow-down"></use>
              </svg>
              <svg class="icon-arrow-up" aria-label="close icon">
                <use href="./img/symbol-defs.svg#icon-arrow-up"></use>
              </svg>
            </span>
          </button>
        </h3>
        <div class="faq-item-content ac-panel">
          <p class="faq-text ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>