<header class="header" id="header">
  <div class="container header-container">
    <a href="./index.html" class="logo-link-header">
      <img
        srcset="./img/header/logo@2x.png 2x"
        src="./img/header/logo@1x.png"
        alt="logo image"
        loading="lazy"
        class="logo-image-header"
      />
      <p class="logo-surname-header">jefferson*</p>
    </a>

    <nav class="navigation">
      <a href="#" class="title-navigation">Menu</a>
      <ul class="list-navigation hidden">
        <li class="item-navigation">
          <a href="#about-me" class="link-item-navigation">About me</a>
        </li>
        <li class="item-navigation">
          <a href="#benefits" class="link-item-navigation">Benefits</a>
        </li>
        <li class="item-navigation">
          <a href="#projects" class="link-item-navigation">Projects</a>
        </li>
        <li class="item-navigation">
          <a href="#faq" class="link-item-navigation">FAQ</a>
        </li>
      </ul>
    </nav>

    <div class="order_project-navigation">
      <a href="#work-together" class="link-order_project-navigation"
        >Order the project</a
      >
    </div>

    <button class="mobile-menu-open-btn" type="button">
      <svg
        class="mobile-menu-open-btn-icon"
        width="28"
        height="28"
        aria-label="mobile menu open icon"
      >
        <use href="./img/symbol-defs.svg#burger-icon"></use>
      </svg>
    </button>
  </div>
</header>

<!-- Mobile menu -->
<div class="mobile-menu-wrapper">
  <button class="mobile-menu-close-btn" type="button">
    <svg
      class="mobile-menu-close-btn-icon"
      width="14"
      height="14"
      aria-label="mobile menu close icon"
    >
      <use href="../img/symbol-defs.svg#icon-close-cross"></use>
    </svg>
  </button>
  <div class="mobile-menu-container">
    <nav class="navigation-mobile-menu">
      <ul class="list-navigation-mobile-menu">
        <li class="item-navigation-mobile-menu">
          <a href="#about-me" class="link-item-navigation-mobile-menu"
            >About me</a
          >
        </li>
        <li class="item-navigation-mobile-menu">
          <a href="#benefits" class="link-item-navigation-mobile-menu"
            >Benefits</a
          >
        </li>
        <li class="item-navigation-mobile-menu">
          <a href="#projects" class="link-item-navigation-mobile-menu"
            >Projects</a
          >
        </li>
        <li class="item-navigation-mobile-menu">
          <a href="#faq" class="link-item-navigation-mobile-menu">FAQ</a>
        </li>
      </ul>
    </nav>
    <div class="order_project-navigation-mobile-menu">
      <a href="#work-together" class="link-order_project-navigation-mobile-menu"
        >Order the project</a
      >
    </div>
  </div>
</div>
