<section class="hero">
  <div class="background-gradient-top">
    <div class="container-hero container">
      <h1 class="hero-title">
        Hello. <br />
        I'm Fullstack developer <br />
        Lloyd Jefferson.
      </h1>
      <address class="hero-address">
        <ul class="hero-address-list">
          <li class="circle">
            <a
              href="https://www.instagram.com/goitclub/"
              class="hero-address-link"
              target="_blank"
              rel="noopener noreferrer"
              >ig
            </a>
          </li>
          <li class="circle">
            <a
              href="https://www.facebook.com/goITclub/"
              class="hero-address-link"
              target="_blank"
              rel="noopener noreferrer"
              >fb
            </a>
          </li>
          <li class="circle">
            <a
              href="https://www.youtube.com/c/GoIT"
              class="hero-address-link"
              target="_blank"
              rel="noopener noreferrer"
              >yt
            </a>
          </li>
          <li class="circle">
            <a
              href="https://github.com/Artekme/project-ScriptTailors"
              class="hero-address-link"
              target="_blank"
              rel="noopener noreferrer"
              >gh
            </a>
          </li>
          <li class="circle-email">
            <a
              class="hero-address-mail-link"
              href="mailto:lloydjefferson@gmail.com"
              >lloydjefferson@gmail.com
            </a>
          </li>
        </ul>
      </address>
    </div>
  </div>
</section>