
<section class="projects" id="projects">
  <div class="container">
    <h2 class="title-projects">Projects</h2>
    <!-- Swiper -->
    <div class="swiper">
      <!-- Slides list -->
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="white-projects">
            <ul class="tech-list-projects" data-swiper-parallax="-200">
              <li class="tech-item-projects">&#35;react</li>
              <li class="tech-item-projects">&#35;js</li>
              <li class="tech-item-projects">&#35;node js</li>
              <li class="tech-item-projects">&#35;git</li>
            </ul>
            <h3 class="swiper-title-projects" data-swiper-parallax="-200">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="link-projects"
              href="https://github.com/Artekme/project-ScriptTailors"
              target="_blank"
              rel="noopener noreferrer"
              >See project</a
            >
          </div>
          <div class="black-projects">
            <div class="img-thumb-projects">
              <picture>
                <source
                  srcset="
                    ./img/projects/project1-tab@1x.webp 1x,
                    ./img/projects/project1-tab@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/projects/project1-mob@1x.webp 1x,
                    ./img/projects/project1-mob@2x.webp 2x
                  "
                />

                <img
                  src="./img/projects/project1-tab@2x.webp"
                  alt="Green.Harvest web-site"
                  loading="lazy"
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="white-projects">
            <ul class="tech-list-projects" data-swiper-parallax="-200">
              <li class="tech-item-projects">&#35;react</li>
              <li class="tech-item-projects">&#35;js</li>
              <li class="tech-item-projects">&#35;node js</li>
              <li class="tech-item-projects">&#35;git</li>
            </ul>
            <h3 class="swiper-title-projects" data-swiper-parallax="-200">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="link-projects"
              href="https://github.com/Artekme/project-ScriptTailors"
              target="_blank"
              rel="noopener noreferrer"
              >See project</a
            >
          </div>
          <div class="black-projects">
            <div class="img-thumb-projects">
              <picture>
                <source
                  srcset="
                    ./img/projects/project2-tab@1x.webp 1x,
                    ./img/projects/project2-tab@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/projects/project2-mob@1x.webp 1x,
                    ./img/projects/project2-mob@2x.webp 2x
                  "
                />

                <img
                  src="./img/projects/project1-tab@2x.webp"
                  alt="Green.Harvest web-site"
                  loading="lazy"
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="white-projects">
            <ul class="tech-list-projects" data-swiper-parallax="-200">
              <li class="tech-item-projects">&#35;react</li>
              <li class="tech-item-projects">&#35;js</li>
              <li class="tech-item-projects">&#35;node js</li>
              <li class="tech-item-projects">&#35;git</li>
            </ul>
            <h3 class="swiper-title-projects" data-swiper-parallax="-200">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="link-projects"
              href="https://github.com/Artekme/project-ScriptTailors"
              target="_blank"
              rel="noopener noreferrer"
              >See project</a
            >
          </div>
          <div class="black-projects">
            <div class="img-thumb-projects">
              <picture>
                <source
                  srcset="
                    ./img/projects/project3-tab@1x.webp 1x,
                    ./img/projects/project3-tab@2x.webp 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/projects/project3-mob@1x.webp 1x,
                    ./img/projects/project3-mob@2x.webp 2x
                  "
                />

    <section class="projects" id="projects">
      <div class="container">
        <h2 class="title-projects">Projects</h2>
        <!-- Swiper -->
        <div class="swiper">
          <!-- Slides list -->
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <div class="white-projects">
                <ul class="tech-list-projects">
                  <li class="tech-item-projects">&#35;react</li>
                  <li class="tech-item-projects">&#35;js</li>
                  <li class="tech-item-projects">&#35;node js</li>
                  <li class="tech-item-projects">&#35;git</li>
                </ul>
                <h3 class="swiper-title-projects">
                  Programming Across Borders: Ideas, Technologies, Innovations
                </h3>
                <a
                  class="link-projects"
                  href="https://github.com/Artekme/project-ScriptTailors"
                  target="_blank"
                  rel="noopener noreferrer"
                  >See project</a
                >
              </div>
              <div class="black-projects">
                <div class="img-thumb-projects">
                <picture>
                  <!-- Десктопна версія -->
                  <source srcset="./img/projects/project1-tab@1x.webp 1x, ./img/projects/project1-tab@2x.webp 2x"
                          media="(min-width: 768px)">
                  <!-- Мобільна версія -->


                <img
                  src="./img/projects/project1-tab@2x.webp"
                  alt="Green.Harvest web-site"
                  loading="lazy"
                />
              </picture>
            </div>

            </li>
            <li class="swiper-slide">
                <div class="white-projects">
                  <ul class="tech-list-projects">
                    <li class="tech-item-projects">&#35;react</li>
                    <li class="tech-item-projects">&#35;js</li>
                    <li class="tech-item-projects">&#35;node js</li>
                    <li class="tech-item-projects">&#35;git</li>
                  </ul>
                  <h3 class="swiper-title-projects">
                    Programming Across Borders: Ideas, Technologies, Innovations
                  </h3>
                  <a
                    class="link-projects"
                    href="https://github.com/Artekme/project-ScriptTailors"
                    target="_blank"
                    rel="noopener noreferrer"
                    >See project</a
                  >
                </div>
                <div class="black-projects">
                  <div class="img-thumb-projects">
                    <picture>
                        <!-- Десктопна версія -->
                        <source srcset="./img/projects/project2-tab@1x.webp 1x, ./img/projects/project2-tab@2x.webp 2x"
                                media="(min-width: 768px)">
                        <!-- Мобільна версія -->
      
                          <source srcset="./img/projects/project2-mob@1x.webp 1x, ./img/projects/project2-mob@2x.webp 2x">
                      
                        <img src="./img/projects/project1-tab@2x.webp" alt="Green.Harvest web-site" loading="lazy">
                      </picture>
                </div>
              </div>
              </li>
            </li>
            <li class="swiper-slide">
                <div class="white-projects">
                  <ul class="tech-list-projects">
                    <li class="tech-item-projects">&#35;react</li>
                    <li class="tech-item-projects">&#35;js</li>
                    <li class="tech-item-projects">&#35;node js</li>
                    <li class="tech-item-projects">&#35;git</li>
                  </ul>
                  <h3 class="swiper-title-projects">
                    Programming Across Borders: Ideas, Technologies, Innovations
                  </h3>
                  <a
                    class="link-projects"
                    href="https://github.com/Artekme/project-ScriptTailors"
                    target="_blank"
                    rel="noopener noreferrer"
                    >See project</a
                  >
                </div>
                <div class="black-projects">
                  <div class="img-thumb-projects">
                    <picture>
                        <!-- Десктопна версія -->
                        <source srcset="./img/projects/project3-tab@1x.webp 1x, ./img/projects/project3-tab@2x.webp 2x"
                                media="(min-width: 768px)">
                        <!-- Мобільна версія -->
      
                          <source srcset="./img/projects/project3-mob@1x.webp 1x, ./img/projects/project3-mob@2x.webp 2x">
                      
                        <img src="./img/projects/project1-tab@2x.webp" alt="Green.Harvest web-site" loading="lazy">
                      </picture>
                </div>
              </div>
              </li>
          </ul>
          <!-- Buttons -->
          <div class="buttons-wrapper-projects">
            <button class="swiper-button-prev">
              <svg class="left-arrow-icon-projects" width="32px" height="32px" aria-label="icon to swipe left">
                <use href="./img/symbol-defs.svg#icon-arrow-left"></use>
              </svg>
            </button>
            <button class="swiper-button-next">
              <svg class="right-arrow-icon-projects" width="32px" height="32px" aria-label="icon to swipe right">
                <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
              </svg>
            </button>

          </div>
        </li>
      </ul>
      <!-- Buttons -->
      <div class="buttons-wrapper-projects">
        <button class="swiper-button-prev" type="button">
          <svg
            class="left-arrow-icon-projects"
            width="32px"
            height="32px"
            aria-label="icon to swipe left"
          >
            <use href="./img/symbol-defs.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button class="swiper-button-next" type="button">
          <svg
            class="right-arrow-icon-projects"
            width="32px"
            height="32px"
            aria-label="icon to swipe right"
          >
            <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
