<section class="reviews">
    <div class="container">
        <h2 class="reviews-title">Reviews</h2>
        <div class="swiper-container">

            <ul class="review-list swiper-wrapper">
                
            </ul>
            <div class="swiper-navigation">
                <button type="button" aria-label="Swipe to left" class="swiper-button-prev">
                    <svg class="swiper-icon" width="32" height="32">
                        <use href="./img/symbol-defs.svg#icon-arrow-left"></use>
                    </svg>
                </button>
                <button type="button" aria-label="Swipe to right" class="swiper-button-next">
                    <svg class="swiper-icon" width="32" height="32">
                        <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </div>
                
        </div>
            
        
    </div>
</section>