@media screen and (min-width: 320px) {
    .about-me {
        max-width: 100%;
    }

    .resume-container-about-me {
        margin-bottom: 32px;
    }

    .wrapper-about-me {
        padding: 0 16px;
        margin: 0 auto;
    }

    .text-container-about-me {
        padding: 32px;
        border-radius: 24px;
        background-color: rgba(36, 37, 39, 1);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        width: 100%;
        margin-bottom: 16px;
    }

    .resume-about-me {
        font-weight: 500;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: rgba(250, 250, 250, 1);
    }

    .accent-red-about-me {
        color: #ed3b44;
    }

    .accent-grey-about-me {
        color: rgba(250, 250, 250, 0.4);
    }

    .img-tumb-about-me {
        border-radius: 24px;
        width: 100%;
        object-fit: cover;
    }

    .picture-about-me {
        width: 100%;
        display: block;
        object-fit: cover;
    }

    .picture-about-me img {
        border-radius: 24px;
        width: 100%;
        display: block;
        object-fit: cover;
    }

    /* ===============accordion=============== */

    .accordion-container-about-me {
        background-color: transparent;
    }

    .accordion-item-about-me.ac {
        position: relative;
        background-color: transparent;
    }

    .accordion-item-title-about-me.ac-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: rgba(250, 250, 250, 0.4);
    }

    .accordion-item-about-me:after {
        color: rgba(250, 250, 250, 0.2);
        background-color: rgba(250, 250, 250, 0.2);
        content: '';
        width: 100%;
        position: absolute;
        bottom: -32px;
        height: 1px;
    }

    .accordion-button-about-me.ac-trigger {
        border: 1px solid rgba(250, 250, 250, 0.2);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        line-height: 0;
    }

    .accordion-button-icon-about-me {
        overflow: visible;
        fill: rgba(250, 250, 250, 1);
        stroke: rgba(250, 250, 250, 1);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .clicked {
        transform: rotate(-180deg);
    }

    #ac-trigger-0 .accordion-button-icon-about-me {
        transform: rotate(-180deg);
    }

    #ac-trigger-0 .accordion-button-icon-about-me.clicked {
        transform: rotate(0deg);
    }

    .list-accordion-text-about-me.ac-text {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        margin-top: 8px;
    }

    .first-ac-panel-list {
        row-gap: 32px;
    }

    .list-item-accordion-text-about-me {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.02em;
        color: rgba(250, 250, 250, 1);
    }

    .accordion-panel-about-me.ac-panel {
        overflow: hidden;
        transition-property: height, visibility;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    accordion-item-about-me.ac.js-enabled .accordion-panel-about-me.ac-panel {
        visibility: hidden;
    }

    .accordion-item-about-me.ac.is-active .accordion-panel-about-me.ac-panel {
        visibility: visible;
    }


    /* ==================swiper================= */

    .swiperc.swiper-container-about-me {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 0;
    }

    .swiperc.swiper-container-about-me .swiper.swiper2 {
        margin: 0;
    }

    .swiper-wrapper.swiper-wrapper-about-me .swiper-slide.swiper-slide-about-me {
        overflow: visible;
        text-align: center;
        color: rgba(250, 250, 250, 1);
        line-height: 1.5;
        padding: 0;
        letter-spacing: -0.02em;
        border-radius: 50%;
        border: 1px solid rgba(250, 250, 250, 0.2);
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-wrapper.swiper-wrapper-about-me .swiper-slide.swiper-slide-about-me.swiper-slide-active {
        background-color: rgba(237, 59, 68, 1);
    }

    .swiper-button-next-about-me {
        z-index: 56545;
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 0;
    }

    .swiper-button-next-about-me>.right-arrow-icon-about-me {
        fill: rgba(250, 250, 250, 0.2);
        stroke: rgba(250, 250, 250, 0.2);
        transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .about-me {
        padding-bottom: 64px;
    }

    .wrapper-about-me {
        max-width: 375px;
    }

    .text-container-about-me {
        height: 500px;
    }

    .resume-about-me {
        font-size: 24px;
        line-height: 1.17;
    }

    .img-tumb-about-me {
        height: 500px;
    }

    .picture-about-me {
        height: 500px;
    }

    .picture-about-me img {
        height: 500px;
    }

    .accordion-container-about-me {
        margin-bottom: 64px;
    }

    .accordion-item-about-me:not(:last-child) {
        margin-bottom: 48px;
    }

    .accordion-button-about-me.ac-trigger {
        padding: 9px;
        width: 36px;
        height: 36px;
    }

    .accordion-item-about-me.ac.is-active .accordion-item-about-me:after {
        bottom: -24px;
    }


    /* ==================swiper============== */

    .swiperc.swiper-container-about-me {
        max-width: 343px;
    }

    .swiper.swiper2 {
        max-width: 260px;
    }

    .swiper-wrapper.swiper-wrapper-about-me .swiper-slide.swiper-slide-about-me {
        width: 130px !important;
        height: 130px;
        font-size: 16px;
    }

    .swiper-button-next-about-me {
        width: 28px;
        height: 28px;
    }

    .swiper-button-next-about-me>.right-arrow-icon-about-me {
        width: 28px;
        height: 28px;
    }

    .swiper-button-next-about-me>.right-arrow-icon-about-me:active {
        fill: rgba(250, 250, 250);
        stroke: rgba(250, 250, 250);
    }
}

@media screen and (min-width: 768px) {
    .wrapper-about-me {
        padding: 0 32px;
    }

    .resume-about-me {
        font-size: 38px;
        line-height: 1.05;
    }

    .text-container-about-me {
        height: 700px;
        padding: 64px;
    }

    .accordion-item-about-me:not(:last-child) {
        margin-bottom: 64px;
    }

    .accordion-button-about-me.ac-trigger {
        padding: 10px;
        width: 40px;
        height: 40px;
    }

    .swiper-button-next-about-me {
        width: 40px;
        height: 40px;
    }

    .swiper-button-next-about-me>.right-arrow-icon-about-me {
        width: 40px;
        height: 40px;
    }

    .swiper-wrapper.swiper-wrapper-about-me .swiper-slide.swiper-slide-about-me {
        width: 200px !important;
        height: 200px;
        font-size: 20px;
    }

    .swiper-button-next-about-me>.right-arrow-icon-about-me:hover,
    .swiper-button-next-about-me>.right-arrow-icon-about-me:focus {
        fill: rgba(250, 250, 250);
        stroke: rgba(250, 250, 250);
    }

    .img-tumb-about-me {
        height: 700px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .picture-about-me {
        height: 700px;
    }

    .picture-about-me img {
        height: 700px;
    }

    .img-tumb-about-me:hover,
    .img-tumb-about-me:focus {
        transform: scale(1.05);
    }

    .text-container-about-me {
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .text-container-about-me:hover,
    .text-container-about-me:focus {
        transform: scale(1.05);
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .about-me {
        padding-bottom: 96px;
    }

    .wrapper-about-me {
        max-width: 768px;
    }

    .resume-container-about-me {
        margin-bottom: 64px;
    }

    .accordion-container-about-me {
        margin-bottom: 96px;
    }

    .list-accordion-text-about-me.ac-text {
        text-align: justify;
    }

    .text-container-about-me {
        width: 704px;
    }

    .img-tumb-about-me {
        width: 704px;
    }

    .picture-about-me {
        width: 704px;
    }

    .picture-about-me img {
        width: 704px;
    }

    .first-ac-panel-list {
        row-gap: 16px;
    }

    .swiperc.swiper-container-about-me {
        max-width: 704px;
    }

    .swiper.swiper2 {
        max-width: 600px;
    }
}

@media screen and (min-width: 1440px) {
    .about-me {
        padding-bottom: 164px;
    }

    .wrapper-about-me {
        max-width: 1440px;
    }

    .resume-container-about-me {
        width: 1376px;
        display: flex;
        column-gap: 10px;
    }

    .text-container-about-me {
        width: 680px;
        margin-bottom: 0;
    }

    .img-tumb-about-me {
        width: 680px;
    }

    .picture-about-me {
        width: 680px;
    }

    .picture-about-me img {
        width: 680px;
    }

    .resume-container-about-me {
        margin-bottom: 96px;
    }

    .accordion-container-about-me {
        margin-bottom: 128px;
    }

    .list-accordion-text-about-me {
        width: 612px;
        margin-left: 696px;
        margin-right: 68px;
    }

    .swiperc.swiper-container-about-me {
        max-width: 1312px;
        margin: 0 auto;
    }

    .swiper.swiper2 {
        max-width: 1200px;
    }
}