html {
  scroll-behavior: smooth;
}

.benefits-section {
  margin-bottom: 39px;
}

.benefits-title {
  display: flex;
  order: 0;
  flex-grow: 0;
  margin-bottom: 32px;
  color: rgba(250, 250, 250, 0.4);
  font-family: Inter Tight;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: left;
  text-transform: uppercase;
}

.benefits-item-descr {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  border-radius: 20px;
  background: rgb(36, 37, 39);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits-item-descr:hover,
.benefits-item-descr:focus {
  transform: scale(1.05);
}

.feuter-title {
  color: rgb(250, 250, 250);
  font-family: Inter Tight;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 8px;
}

.feuter-desc {
  color: rgba(250, 250, 250, 0.6);
  font-size: 16px;
  line-height: 1.2;
}

.benefits-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  background: rgb(237, 59, 68);
}
.benefits-icon {
  stroke: #fbfbfb;
  fill: rgb(237, 59, 68);
  width: 24px;
  height: 24px;
}

.order-link-btn {
  display: inline-flex;
  align-items: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  text-decoration: none;
  color: #fbfbfb;
  height: 56px;
  font-size: 16px;
  min-width: 198px;
  padding: 18px 36px;
  letter-spacing: -0.02em;
  text-align: center;
  transition: border-color 200ms ease-in-out;
}

.order-link-btn:hover {
  border-color: rgb(250, 250, 250);
}

.order-link-btn:focus {
  border-color: rgb(250, 250, 250);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .benefits-item {
    margin-bottom: 32px;
  }

  .benefits-item-descr {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .benefits-section {
    margin-bottom: 71px;
  }

  .benefits-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }

  .benefits-item-descr {
    width: calc((100% - 16px) / 2);
  }
  .order-link-btn {
    margin-top: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .benefits-section {
    margin-bottom: 139px;
  }

  .benefits-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .benefits-item {
    flex-direction: row;
    flex-wrap: wrap;
    width: 680px;
  }
  .benefits-item {
    width: 680px;
  }
}
