/***************************COMMON STYLES************************/

ul {
  list-style-type: none;
}
.title-covers{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    clip-path: inset(100%);
}

#covers {
  background-color: #1C1D20;
  background-image: 
      radial-gradient(circle at 45% 15%, rgba(237, 59, 68, 0.6) 0%, rgba(237, 59, 68, 0) 20%),
      radial-gradient(circle at 10% 55%, rgba(237, 59, 68, 0.6) 0%, rgba(237, 59, 68, 0) 20%),
      radial-gradient(circle at 75% 80%, rgba(237, 59, 68, 0.6) 0%, rgba(237, 59, 68, 0) 20%);
  padding: 0px;
  overflow: hidden;
  height: 508px;
}

.content-covers {
  padding-left: 0px;
  padding-right: 0px;
  transform: rotate(16deg);
}

.marquee { 
  transform: translateY(-150px);
}

.list-covers {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(18, max-content);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.marquee-inner.show {

  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes marqueeLine {
  from {
    transform: translateX(-20%);
  }
  
  to {
    transform: translateX(-180%);
  }
}


/******************************** MOBILE *************************/
@media screen and (min-width: 320px) and (max-width: 767px) {


  }

/******************************** TABLET *************************/
@media screen and (min-width: 768px)  {
  #covers {
    height: 960px;
    margin: 0;
}
    
  }

/******************************** DESKTOP *************************/
@media screen and (min-width: 1440px) {
  #covers {
      margin: 0;
}   

  }