/***************************COMMON STYLES************************/

ul {
  list-style-type: none;
}
.title-covers{
  display: none;
}

#covers {
  background-color: #1C1D20;
  background-image: radial-gradient(circle at 40% 20%, rgba(237, 59, 68, 0.6) 0%, rgba(237, 59, 68, 0) 20%),
      radial-gradient(circle at 10% 50%, rgba(237, 59, 68, 0.6) 0%, rgba(237, 59, 68, 0) 20%),
      radial-gradient(circle at 80% 80%, rgba(237, 59, 68, 0.6) 0%, rgba(237, 59, 68, 0) 20%);
  padding: 0px;
  overflow: hidden;
  height: 508px;
}

.content-covers {
  padding-left: 0px;
  padding-right: 0px;
  transform: rotate(16deg);
}

.list-covers {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(24, max-content);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.covers-list>li {
  grid-column: span 3; 
}

.covers-list>li:nth-child(3n+1) {
  grid-column: 3/span 4;
}

.covers-list>li:nth-child(3n+2) {
  grid-column: span 4/-3;
}*/

/*
*,
*::before,
*::after {
  box-sizing: border-box;
}
.content {
  position: relative;
}

.marquee {
  width: 1108px;
  height: 784px;
  background-color: #1C1D20;
margin: 0;
padding: 0;
  position: absolute;
  right: -800px;
  left: -21.45px;
  overflow: hidden;
  font-family: "Pridi", sans-serif;
  font-weight: 375px;
  font-size: 34px;
  text-transform: uppercase;
}

.marquee__inner {
  margin-bottom: 20px;
   display: flex;
   transform: rotate(16deg);
}
.portfolio-list-img {
  display: flex;
}*/
.marquee__line {

  flex-shrink: 0;
  margin-right: 10px; 
  display: flex;
  align-items: center;
  justify-content: center;
 
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes marqueeLine {
  from {
    transform: translateX(-20%);
  }
  
  to {
    transform: translateX(-180%);
  }
}


/******************************** MOBILE *************************/
@media screen and (min-width: 320px) and (max-width: 767px) {


  }

/******************************** TABLET *************************/
@media screen and (min-width: 768px)  {
  #covers {
    height: 960px;
    padding: 0;
}
    
  }

/******************************** DESKTOP *************************/
@media screen and (min-width: 1440px) {
  #covers {
    padding: 0;
}   


  }