/* .faq-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.4);
    margin-bottom: 32px;
}

.faq-list{
    padding-inline-start: 0;
}

.faq-list-item{
    border-top: 1px solid rgba(250, 250, 250, 0.2);
}

.faq-list-item:last-child{
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.faq-question {
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #fafafa;
    max-width: 289px;
    margin: 0;
    padding: 0;
}

.faq-button{
        width: 100%;
        display: block;
        cursor: pointer;
        background-color: transparent;
        position: relative;
        text-decoration: none;
        margin: 0;
        border: 0;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: -0.02em;
        color: white;
        background-color: #1c1d20;
        padding: 20px 0;
        padding-right: 50px;
}

.faq-icon {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 100px;
    width: 34px;
    height: 34px;
    position: absolute;
    right: 0;
    top: 20px;
}

.icon-arrow-down {
    fill: #FAFAFA;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 7px;
    left: 6px;
}

.faq-item-content {
    overflow: hidden;
    transition-property: height, visibility;
    transition-timing-function: ease;
}

.faq-text{
    color: rgba(250, 250, 250, 0.6);
    padding-bottom: 20px;
    margin: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.02em;
}


@media screen and (min-width: 768px) {
    .faq-question{
        margin-top: 32px;
        padding-bottom: 26px;
        max-width: 574px;
    }

    .faq-button {
        margin-top: 32px;
    }

    .faq-text{
        max-width: 656px;
        padding-bottom: 24px;
    }
    
}

@media screen and (min-width: 1440px) {
    .faq-list{
        display: flex;
        flex-wrap: wrap;

    }

    .faq-list-item{
        border: 1px solid rgba(250, 250, 250, 0.2);
       
    } 

    .div-faq{
        display: flex;
        
    }
    
    .faq-question {
        padding-bottom: 21px;
    }

    .faq-text {
        padding-bottom: 26px;
    }
} */