/* плавна прокрутка по сайту */
html {
    scroll-behavior: smooth;
  }
  .header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  
  /* .hidden {
    display: none;
  } */
  
  .header {
    width: 100%;
    position: absolute; /* Або fixed, якщо header має бути фіксованим */
    top: 0;
    left: 0;
    z-index: 10; /* Забезпечуємо, що header буде над hero */
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 32px;
  }
  
  .logo-link-header {
    display: flex;
    gap: 8px;
  }
  
  .logo-surname-header {
    color: #fafafa;
    line-height: 1;
  }
  .navigation {
    display: none;
  }
  
  .link-order_project-navigation {
    display: none;
  }
  
  @media screen and (max-width: 767.99px) {
    .mobile-menu-open-btn {
      background-color: transparent;
      border: none;
      padding: 0;
      line-height: 0;
  
      stroke-width: 2px;
      stroke: #fafafa;
    }
  
    /*Mobile menu styles*/
    .mobile-menu-wrapper {
      position: fixed;
      top: 0;
      left: 150vw;
      right: 0;
      bottom: 0;
      width: 0;
      z-index: 9999;
      transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      background-image: image-set(
          url('../img/hero/glass-effect1-mob-menu@1x.png') 1x,
          url('../img/hero/glass-effect1-mob-menu@2x.png') 2x
        ),
        linear-gradient(
          270deg,
          rgb(28, 29, 32) 49.692%,
          rgb(105, 41, 45) 67.704%,
          rgb(237, 59, 68) 99.891%
        );
      background-size: -100%, auto;
    }
  
    .mobile-menu-container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
      justify-content: center;
    }
  
    .mobile-menu-close-btn {
      position: absolute;
      z-index: 10;
      top: 32px;
      right: 16px;
  
      background-color: transparent;
      border: none;
      padding: 0;
      line-height: 0;
  
      stroke-width: 2px;
      stroke: #fafafa;
    }
  
    .navigation-mobile-menu {
      margin-top: auto;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      text-underline-offset: 3.1px;
      color: #fafafa;
    }
  
    .title-navigation-mobile-menu {
      padding: 10px;
      width: 60px;
      height: 39px;
    }
  
    .list-navigation-mobile-menu {
      text-align: center;
      transform: translateY(-100px);
      scale: 0.7;
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
  
    .order_project-navigation-mobile-menu {
      margin-top: auto;
      margin-bottom: 64px;
    }
  
    .link-order_project-navigation-mobile-menu {
      display: block;
      border-radius: 60px;
      padding: 14px 31px;
      width: 164px;
      background: #ed3b44;
      font-size: 14px;
      height: 45px;
      line-height: 1;
      color: #fafafa;
      transform: translateY(150px);
      scale: 0.7;
      transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
  }
  
  @media screen and (min-width: 768px) {
    .mobile-menu-open-btn {
      display: none;
    }
  
    .mobile-menu-wrapper {
      display: none;
    }
  
    .navigation {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
  
      color: #fafafa;
    }
  
    .title-navigation {
      padding: 10px;
      width: 60px;
      height: 39px;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      text-underline-offset: 3.1px;
    }
  
    .list-navigation {
      width: 67px;
      height: 91px;
      text-align: center;
    }
  
    .link-order_project-navigation {
      display: block;
      border-radius: 60px;
      padding: 18px 24px;
      width: 163px;
      height: 55px;
      background: #ed3b44;
      line-height: 1;
      color: #fafafa;
    }
  }
  
  /*menu animation*/
  .item-navigation {
    opacity: 0;
    animation: closeMenu 1.2s cubic-bezier(0.77, 0.2, 0.05, 1) forwards;
    transition: opacity 0.2s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  
  .show-menu .item-navigation {
    opacity: 1;
    animation: showMenu 0.7s cubic-bezier(0.77, 0.2, 0.05, 1) forwards;
  }
  
  .show-menu .item-navigation:nth-child(1) {
    transition-delay: 0.2s;
  }
  
  .show-menu .item-navigation:nth-child(2) {
    transition-delay: 0.3s;
  }
  
  .show-menu .item-navigation:nth-child(3) {
    transition-delay: 0.4s;
  }
  
  .show-menu .item-navigation:nth-child(4) {
    transition-delay: 0.5s;
  }
  
  .item-navigation:nth-child(1) {
    transition-delay: 0.5s;
  }
  
  .item-navigation:nth-child(2) {
    transition-delay: 0.4s;
  }
  
  .item-navigation:nth-child(3) {
    transition-delay: 0.3s;
  }
  
  .item-navigation:nth-child(4) {
    transition-delay: 0.2s;
  }
  /*end menu animation*/
  
  /* modal window animation*/
  
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes squashInMiddle {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
  
  /* .modal {
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
  } */
  
  .modal-open.mobile-menu-wrapper {
    background-size: 100%, auto;
    opacity: 1;
    left: 0;
    width: 100%;
  }
  
  .modal-open.mobile-menu-wrapper .link-order_project-navigation-mobile-menu {
    transform: translateY(0);
    scale: 1;
    transition-delay: 0.2s;
  }
  
  .modal-open.mobile-menu-wrapper .list-navigation-mobile-menu {
    transform: translateY(0);
    scale: 1;
    opacity: 1;
    transition-delay: 0.3s;
  }
  
  /* menu open close animation */
  @keyframes showMenu {
    0% {
      transform: scale(0);
      transition-delay: 0.2s;
    }
  
    50% {
      transform: scale(1.5);
      transition-delay: 0.2s;
    }
  
    100% {
      transform: scale(1);
      transition-delay: 0.2s;
    }
  }
  
  @keyframes closeMenu {
    0% {
      transform: scale(1);
      transition-delay: 0.2s;
    }
  
    50% {
      transform: scale(1.5);
      transition-delay: 0.2s;
    }
  
    100% {
      transform: scale(0);
      transition-delay: 0.2s;
    }
  }