.hero {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      -90deg,
      rgba(28, 29, 32, 1),
      rgb(105, 41, 45, 1),
      rgba(237, 59, 68, 1)
    ),
    url(#);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-device-pixel-ratio: 2) {
  .hero {
    background-image: linear-gradient(
        -90deg,
        rgba(28, 29, 32, 1),
        rgb(105, 41, 45, 1),
        rgba(237, 59, 68, 1)
      ),
      url(#);
  }
}

.hero-title {
  margin: 0 auto;
  max-width: 343px;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  padding-bottom: 212px;
  padding-top: 281px;
  display: flex;
  justify-content: center;
}

.hero-address {
  /* display: flex; */
}

.hero-address-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
  padding-bottom: 32px;
}
.hero-address-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  text-transform: uppercase;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px; /* Ширина кола */
  height: 37px; /* Висота кола */
  border-radius: 50%; /* Радіус кордону, щоб зробити його круглим */
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.hero-address-mail-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.circle-email {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 178px; /* Ширина кола */
  height: 37px; /* Висота кола */
  border-radius: 60px; /* Радіус кордону, щоб зробити його круглим */
  border: 1px solid rgba(250, 250, 250, 0.2);
}

a:hover {
  cursor: pointer;
}

.circle-email:hover {
  border: 1px solid #fafafa;
}
.circle:hover:hover {
  border: 1px solid #fafafa;
}

/* .link {
  border: 1px solid white;
  border-radius: 60px;
  display: block;
  align-items: center;
  width: 37px;
  heigth: 37px;
} */

/* TABLET */

@media screen and (min-width: 768px) {
  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 192dpi),
    screen and (min-device-pixel-ratio: 2) {
    .hero {
      background-image: linear-gradient(
          -90deg,
          rgba(28, 29, 32, 1),
          rgb(105, 41, 45, 1),
          rgba(237, 59, 68, 1)
        ),
        url(#);
    }
  }

  .hero-title {
    max-width: 632px;
    font-size: 90px;
  }

  .hero-address-list {
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 32px;
  }
  .hero-address-link {
    font-size: 16px;
  }

  .circle {
    width: 55px; /* Ширина кола */
    height: 55px; /* Висота кола */
  }

  .hero-address-mail-link {
    font-size: 16px;
  }

  .circle-email {
    width: 223px; /* Ширина кола */
    height: 55px; /* Висота кола */
  }
}

/* DESCTOP */
@media screen and (min-width: 1280px) {
  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .hero {
      background-image: linear-gradient(
          -90deg,
          rgba(28, 29, 32, 1),
          rgb(105, 41, 45, 1),
          rgba(237, 59, 68, 1)
        ),
        url(#);
    }
  }

  .hero-title {
    max-width: 1084px;
    font-size: 90px;
    padding-bottom: 243px;
    padding-top: 300px;
  }

  .hero-address-list {
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 32px;
  }
  .hero-address-link {
    font-size: 16px;
  }

  .circle {
    width: 55px; 
    height: 55px; 
  }

  .hero-address-mail-link {
    font-size: 16px;
  }

  .circle-email {
    width: 223px; /* Ширина кола */
    height: 55px; /* Висота кола */
  }
}
