.reviews {
    padding-top: 64px;
    }

    .reviews-title{
    color: rgba(250, 250, 250, 0.4);
    font-weight: 600;
    font-size: 16px;
    text-align: left;
    margin-bottom: 32px;
    text-transform: uppercase;
    }

.review-card {
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
border: 1px solid rgba(250, 250, 250, 0.2);
border-radius: 20px;
padding: 32px 24px;
max-width: 343px;
max-height: 310px;
background-color: #1c1d20;
overflow: hidden;
}

.card-image{
    object-fit: contain;
    border-radius: 10px;
}

.card-title{
    margin-bottom: 8px;
    margin-top: 8px;
color: rgb(250, 250, 250);
font-size: 20px;
font-weight: 600;
text-align: left;
}

.reviews-paragraph {
    max-width: 295px;
    font-weight: 500;
    font-size: 16px;
    color: rgba(250, 250, 250, 0.6);
    overflow: hidden;
    height: 120px;
}

.reviews .swiper-container {
    width: 100%;
    overflow: hidden;
}

.reviews .swiper-container .swiper-wrapper{
    overflow: visible; 
    display: flex;
    flex-direction: row;
    width: 100%; 
}

.reviews .swiper-container .swiper-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 32px;
    padding-bottom: 32px;

}

.reviews .swiper-container .swiper-button-disabled {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}

.reviews .swiper-container .swiper-button-prev, 
.reviews .swiper-container .swiper-button-next {
    background-color: #1c1d20;
    border-radius: 60%;
    width: 52px;
    height: 52px;
    padding: 14px;
    border: 1px solid rgba(250, 250, 250, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-icon {
    stroke: #fafafa;
    width: 24px;
    height: 24px;
}

li.not-found-item {
    margin: 0 auto;
    padding: 32px 24px;
    width: 343px;
    height: 302px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 20px;
}

.not-found-text {
    text-align: center;
    color: rgba(250, 250, 250, 0.6);
    font-family: var(--font-cap-medium);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.32px;
}

/* ----TABLET---- */
@media screen and (min-width: 768px) {
    .reviews{
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .reviews .swiper-container .swiper-button-next, 
    .reviews .swiper-container .swiper-button-prev {
        padding: 18px;
        width: 68px;
        height: 68px;
    }

    .swiper-icon {
        stroke: #fafafa;
        width: 32px;
        height: 32px;
    }

}

@media screen and (min-width: 1440px) {
    .reviews {
        padding-top: 164px;
        padding-bottom: 164px;
    }


}


